footer{
    width:100%;
    background-color: white;
}
footer p {
    box-sizing: border-box;
    border-top: solid 1px #dadada75;
    text-align: end;
    padding:25px 0;
    color:#dadadac6;
    margin:0 260px;
}

@media only screen and (max-width: 750px){
    footer p {
        margin:0;
        text-align: center;
    }
}