#contact-container{
width:100%;
margin:0 0;
display: flex;
}

#section-container{
    display:flex;
    flex-direction: row;
    margin:0px 14%;
    justify-content: space-between;
    overflow: hidden;
}
#section-container section{
    margin-top: 5%;
}

h1 {
    width:100%;
    color: #6e6e6e ;
    font-weight: 400;
    font-size: 22px;
    margin:0;
    font-weight:400;
}

#contact-container section {
    width:45%;
}

#image-container {
    width: 45%;

}

#image-container img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 750px){
        #section-container{
            margin:0 5%;
        }
        
        h1 {
            width:100%;
            color: #494949 ;
            font-weight: 300;
            font-size: 20px;
            margin:0 0 25px 0;
        }
        
        #contact-container section {
            width:100%;
            margin: 25px 0 0 0;
        }
        
        #image-container {
            width: 0;
           display: none;
        }
        #contact-container{
            width:100%;
            height: fit-content;
            margin:0 0 40vh 0;
            display: flex;
            }

}

