body {
    margin:0px;
    background-color: black;
    height: fit-content;
    padding: 0;
    font-family: "Inv Maison Neue","Maison Neue",-apple-system,BlinkMacSystemFont,"Open Sans",open-sans,sans-serif;
    font-size: 12px;
    line-height: 1.75;
    color: #80858a;
}